.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.headerBlock {
  display: flex; 
}

.header {
  font-size: 32px;
  width: 50%;
}

.connexionButton {
  width: 33%;
  margin-left: 250px;
  margin-top: 60px;
}

.newTask {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.toDoListContainer {
  border: solid;
  width: 33%;
  display: flex;
  justify-content: flex-start;
  margin-left: 33%;
  flex-direction: column;
  align-items: flex-start;
}

.connexionContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 10px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
